ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  margin-left: -20px;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  margin: 0 auto;
  max-width: 1360px;
}
.__container {
  max-width: 1330px;
  margin: 0px 15px;
}
.header {
  min-height: 130px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
}
.header__top {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}
.header__top__logo {
  cursor: pointer;
}
.header__top__nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__top__nav__container span {
  margin: 15px;
}
.header__top__nav__container__item {
  font-size: 20px;
  font-weight: 900;
  color: #8E8D8C !important;
}
.header__title {
  position: relative;
  display: grid;
  align-items: center;
  height: 532px;
  font-size: 60px;
  font-weight: 900;
  background-image: url(../img/background-images/vacation-pool.jpg);
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: 800px;
}
.header__title__orange__line {
  position: absolute;
  right: 1px;
  bottom: 0;
  width: 480px;
  height: 10px;
  z-index: 10;
}
.active {
  color: #1d1b19 !important;
}
.active__line {
  margin: 0 auto;
  margin-top: 4px;
  width: 40px;
  height: 2px;
  background-color: #ff5300;
}
.menu__body {
  display: none;
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .header__signIn {
    display: block;
  }
  .menu__icon {
    display: none;
  }
}
@media (max-width: 767px) {
  .active__line {
    display: none;
  }
  .header__top__nav__container__item {
    display: none;
  }
  .header__navbar__item {
    display: none;
  }
  .header__signIn {
    display: none;
  }
  .menu__body {
    display: block;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
  }
  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    margin: 0;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.__active span {
    top: 50%;
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.__active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.__active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: absolute;
    z-index: 3;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    padding-top: 15px;
    background: #ffcc89;
    padding-top: 144px;
    transform: translateX(0);
    transition: transform 0.5s;
  }
  .menu__body.__active {
    position: fixed;
    height: 100vw;
    padding-top: 144px;
    transform: translate(0px, 0px);
    transform: translateX(100%);
    overflow: hidden;
  }
  .menu__body::-webkit-scrollbar {
    display: none;
  }
  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
  }
  .menu__list > li {
    flex-wrap: wrap;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list li {
    margin-left: 1px;
    padding-left: -25px;
    width: 100%;
    list-style-type: none;
  }
  .menu__list li:hover {
    background-color: rgba(120, 58, 250, 0.1);
    border-left: 5px #ff5a00 solid;
  }
  .menu__link {
    padding-left: 25px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 57px;
    transition: all 0.24s;
  }
  .menu__link:hover {
    color: #ff5a00;
  }
  .menu__sub-list {
    display: none;
  }
  .menu__sub-list.__active {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding-top: 40px;
    position: relative;
  }
  .menu__sub-list li {
    list-style-type: none;
  }
  .menu__sub-link {
    padding-left: 30px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 57px;
    transition: all 0.24s;
  }
  .menu__sub-list li:hover {
    background-color: rgba(120, 58, 250, 0.1);
  }
  .menu__sub-link:hover {
    color: #783AFA;
  }
}
@media (max-width: 525px) {
  .header__top__nav__container__item {
    font-size: 14px;
  }
}
.section__advantages {
  height: 366px;
  display: grid;
  align-items: center;
}
.section__advantages__container {
  display: grid;
  justify-content: space-between;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: min-content;
}
.section__advantages__container__block {
  margin: 0 auto;
  width: max-content;
  display: grid;
  align-items: center;
  grid-template-columns: min-content max-content;
  font-size: 18px;
  font-weight: 700;
}
.section__advantages__container__block__left {
  margin-left: 45px;
}
.section__advantages__container__block__left__title {
  color: #FF5300;
}
.section__slider {
  margin: 0 auto;
  margin-bottom: 115px;
}
.section__slider__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__slider__container__left {
  margin: 15px;
}
.section__slider__container__left__title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 50px;
}
.section__slider__container__left__subtitle {
  font-size: 20px;
  font-weight: 800;
  color: gray;
  margin-bottom: 35px;
}
.section__slider__container__left__button {
  width: 170px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #FF5300;
}
.section__slider__container__right {
  margin: 15px;
  padding-right: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section__slider__container__right img {
  margin: 10px;
}
.section__slider__container__right__button {
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  background-color: #FF5300;
  position: absolute;
  top: 0;
  left: 735px;
  bottom: 0;
  border-radius: 50px;
}
@media (max-width: 1330px) {
  .section__slider__container {
    justify-content: center;
  }
}
.section__experiences {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__experiences__title {
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 52px;
  font-size: 48px;
  font-weight: 900;
}
.section__experiences__main {
  margin-bottom: 74px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section__experiences__main__card {
  margin: 0 auto;
  padding: 10px;
}
.section__experiences__main__card img {
  margin-bottom: 17px;
}
.section__experiences__main__card__title {
  width: 254px;
  min-height: 80px;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 900;
}
.section__experiences__main__card__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  color: #ffa97e;
}
.section__destinations {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-rows: minmax(150px, auto) minmax(350px, auto);
}
.section__destinations__title {
  margin: 0 auto;
  font-size: 48px;
  font-weight: 900;
}
.section__destinations__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__destinations__content__card {
  margin-bottom: 30px;
  width: 317px;
  height: max-content;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 120px 85px;
}
.section__best-places {
  max-width: 1330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 115px;
}
.section__best-places__title {
  word-wrap: normal;
  width: max-content;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 65px;
}
.section__best-places__content {
  width: 101%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section__best-places__content__right {
  position: relative;
  width: max-content;
}
.section__best-places__content__right__text {
  position: absolute;
  bottom: 0;
}
.section__best-places__content__left {
  position: relative;
  width: 658px;
  height: 470px;
  display: grid;
}
.section__best-places__content__left__sea-img {
  position: absolute;
  left: 0;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__sea-img img {
  border-radius: 10px;
}
.section__best-places__content__left__wooden-img {
  position: absolute;
  left: 220px;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__wooden-img img {
  border-radius: 10px;
}
.section__best-places__content__left__girl-img {
  position: absolute;
  right: 0;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__girl-img img {
  border-radius: 10px;
}
.section__best-places__content__left__bridge-img {
  position: absolute;
  bottom: 0px;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__bridge-img img {
  border-radius: 10px;
}
.section__best-places__content__left__camping-img {
  position: absolute;
  left: 220px;
  bottom: 0px;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__camping-img img {
  border-radius: 10px;
}
.section__best-places__content__left__rock-img {
  display: grid;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: min-content;
  height: min-content;
}
.section__best-places__content__left__rock-img img {
  border-radius: 10px;
}
.section__best-places__content__left__rock-img__button {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #ff5300;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 0px 0px 10px 10px;
}
.section__latest-trends {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
.section__latest-trends__left {
  margin: 15px;
  padding-bottom: 15px;
  width: 682px;
  height: max-content;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 210px 220px 210px;
  align-items: center;
}
.section__latest-trends__left__red-mountain {
  z-index: 2;
}
.section__latest-trends__right {
  margin: 15px;
  display: grid;
  justify-content: center;
}
.section__latest-trends__right__title {
  font-size: 48px;
  font-weight: 800;
}
.section__latest-trends__right__subtitle {
  font-size: 20px;
  font-weight: 700;
  color: #808080;
}
.section__latest-trends__right__button {
  width: 170px;
  height: 60px;
  background-color: #ff5300;
  color: #fff;
}
.section__latest-trends__right__button p {
  font-size: 18px;
  font-weight: 900;
}
.section__partners {
  display: grid;
}
.section__partners__title {
  margin: 0 auto;
  padding-bottom: 100px;
  font-size: 48px;
  font-weight: 900;
}
.section__partners__content {
  padding-bottom: 150px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-template-rows: min-content;
}
.section__partners__content__person {
  margin: 15px;
  display: flex;
  align-items: center;
}
.section__partners__content__person__name {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 1330px) {
  .section__latest-trends {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .header__title {
    background-position: center;
  }
  .header__title__contant {
    margin: 0 auto;
    padding-bottom: 310px;
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header__title__contant {
    font-size: 30px;
  }
  .section__destinations__title {
    margin-top: 50px;
    height: 50px;
    font-size: 30px;
  }
  .section__best-places__title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .section__latest-trends__left {
    grid-template-columns: 110px 110px 110px;
  }
  .section__latest-trends__left__climber img {
    width: 130px;
  }
  .section__latest-trends__left__red-mountain img {
    width: 160px;
    z-index: 10;
  }
  .section__latest-trends__left__tourist img {
    width: 130px;
  }
  .section__best-places__content__right img {
    width: 320px;
  }
  .section__best-places__content {
    margin: 0 auto;
    flex-direction: column;
  }
  .section__best-places__content__left {
    margin: 0 auto;
    width: 320px;
    height: 200px;
  }
  .section__best-places__content__left__sea-img img {
    width: 100px;
    height: 140px;
  }
  .section__best-places__content__left__wooden-img {
    left: 110px;
  }
  .section__best-places__content__left__wooden-img img {
    width: 100px;
  }
  .section__best-places__content__left__girl-img {
    left: 220px;
  }
  .section__best-places__content__left__girl-img img {
    height: 75px;
    width: 100px;
  }
  .section__best-places__content__left__bridge-img img {
    height: 50px;
    width: 100px;
  }
  .section__best-places__content__left__camping-img {
    width: min-content;
    height: min-content;
    left: 110px;
  }
  .section__best-places__content__left__camping-img img {
    width: 100px;
    height: 89px;
  }
  .section__best-places__content__left__rock-img {
    left: 220px;
  }
  .section__best-places__content__left__rock-img img {
    height: 118px;
    width: 100px;
  }
  .section__best-places__content__left__rock-img__button {
    height: 30px;
  }
}
@media (max-width: 480px) {
  .header__title__contant {
    font-size: 20px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__description {
  margin: 15px;
}
.footer__description__logo {
  margin-bottom: 20px;
}
.footer__description__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}
.footer__useful-links {
  margin: 15px;
}
.footer__useful-links a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}
.footer__useful-links__title {
  font-size: 24px;
  font-weight: 700;
}
.footer__support-links {
  margin: 15px;
}
.footer__support-links a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}
.footer__support-links__title {
  font-size: 24px;
  font-weight: 700;
}
.footer__newsletter {
  margin: 15px;
}
.footer__newsletter a {
  font-size: 18px;
  font-weight: 700;
  color: #808080;
}
.footer__newsletter__title {
  font-size: 24px;
  font-weight: 700;
}
