@import "null.less";

body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1360px;
}
.__container {
    margin: 0px 15px;
}

@import "header/header.less";
@import "advantages/advantages.less";
@import "slider/slider.less";
