.section__destinations {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-rows: minmax(150px, auto) minmax(350px, auto);
    &__title {
        margin: 0 auto;
        font-size: 48px;
        font-weight: 900;
    }
    &__content { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__card {
            margin-bottom: 30px;
            width: 317px;
            height: max-content;
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            grid-template-columns: 120px 85px;
            &__title {

            }
        }
    }
}