.section__experiences {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(auto, 1060px);
    grid-template-rows: 110px;
    &__title {
        margin: 0 auto;
        padding-bottom: 52px;
        font-size: 48px;
        font-weight: 900;
    }
    &__main {
        margin-bottom: 74px;
        display: grid;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(253px, max-content));
        grid-template-rows: min-content;
        &__card {
            & img {
                margin-bottom: 17px;
            }
            &__title {
                margin-bottom: 17px;
                font-size: 18px;
                font-weight: 900;
            }
            &__subtitle {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 900;
                color: #ffa97e;
            }
        }
    }
}